.canvas-grid {

  .outer {

    display: -webkit-box;
    width: 960px;
    height: 840px;
    //margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 2em;
    background: -webkit-radial-gradient(center, circle cover, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 20%, rgba(40, 52, 59, 1) 100%); /* Chrome10+,Safari5.1+ */
    -webkit-box-align: stretch;
    .controls {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      &.left {
        width: 120px;
        -webkit-box-pack: start;
        -webkit-box-align: stretch;
        text-align: center;
        .reset {
          margin-top: 50px;
          -webkit-box-flex: 1;
        }
        .bpm {
          -webkit-box-flex: 2;
          .bpm-display {
            font-size: 2em;
          }
        }
        .record {
          -webkit-box-flex: 1;
        }

      }
      &.mid {
        width: 720px;
        -webkit-box-pack: center;
      }
      &.right {
        width: 120px;
        padding: 0 10px 0 5px;
      }

      .pictos-button {
        font-family: 'Pictos';
        font-size: 3em;
        &.pressed {
          color: #ad0003;
        }
      }
      .frequency {
        margin-top: 65px;
      }
      .waveform {
        margin-top: 30px;
      }
      .filter {
        margin-top: 30px;
      }
      h3 {
        font-size: 1.3em;
        color: #ccc;
      }
      .freq-button {
        color: #fff;
        padding: 2px 5px;
        background: -webkit-linear-gradient(#919191, #72777b);
        border-radius: 5px;
        margin: 5px 0;
        text-align: center;
        &.pressed {
          background: -webkit-linear-gradient(#f00, #ad0003);
        }
      }
      .waveform-button, .filter-button {
        color: #fff;
        padding: 2px 10px;
        background: -webkit-linear-gradient(#919191, #72777b);
        margin: 2px 0;
        text-align: left;
        &.pressed {
          background: -webkit-linear-gradient(#f00, #ad0003);
        }
      }

    }
  }

}