.list-modal {
  background: #fff;
  color: #000;
  .list-modal-toolbar {
    background: #fff;
  }
}
.song-list {
  .song-list-item {

    &.x-item-selected {
      h3 {
        color : #fff;
      }
    }
  }
}
